*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Bebas Neue', cursive !important;
    font-size: 14px;
    line-height: 24px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Alfa Slab One', cursive !important;
    font-size: 14px;
    line-height: 24px;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

/* header code end */
.header{
    width: 100%;
    padding: 20px 0px;
    background: url("../images/headerbg.png") center top no-repeat;
    background-size: cover;
}

.menu{
    width: 100%;
    padding: 20px 0px;
}

.menu .info{
    width: 100%;
    text-align: right;
}

.menu .info p img{
    margin: 0px 10px 0px 0px;
}

.menu .info p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #3d2514;
    margin: 0px 20px 0px 0px;
}

.menu .navbar-expand-lg .navbar-nav .nav-item .nav-link{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #3d2514;
    margin: 0px 0px 0px 30px;
    transition: 1s;
}

.menu .navbar-expand-lg .navbar-nav .nav-item .nav-link:hover{
    color: #bf2222;
}

.menu .navbar-expand-lg .navbar-nav .nav-item .nav-link:focus{
    color: #bf2222;
}
/* header code end */

/* banner code end */
.banner{
    width: 100%;
    padding: 40px 0px;
}

.banner h4{
    font-family: 'Bebas Neue', cursive !important;
    font-size: 20px;
    line-height: 30px;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #3d2514;
    margin: 70px 0px 20px;
}

.banner h4 span{
    width: 100%;
    padding: 10px;
    border: 3px dashed #3d2514;
}

.banner h1{
    font-size: 110px;
    font-weight: 500;
    line-height: 120px;
    text-shadow: 1px 4px 10px #ccc;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #3d2514;
}

.banner h3{
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    text-shadow: 1px 4px 10px #ccc;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #3d2514;
}
/* banner code end */

/* popular section code start */
.popular{
    width: 100%;
    margin: 80px 0px 50px;
}

.popular .card{
    margin: 0px 0px 30px;
    border: 1px solid #fff;
    background: #fff;
}

.popular .card .card-img-overlay h5{
    font-family: 'Bebas Neue', cursive !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 10px 0px 0px;
}

.popular .card .card-img-overlay h3{
    font-family: 'Bebas Neue', cursive !important;
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/* popular section code end */

/* choose section code start */

.choose{
    width: 100%;
    padding: 40px 0px;
}

.choose .title{
    width: 100%;
    padding: 0px 0px 40px;
    text-align: center;
}

.choose .title h4{
    font-family: 'Bebas Neue', cursive !important;
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    margin: 0px 0px 50px;
}

.choose .title h4 span{
    padding: 5px;
    background: #ffc045;
}

.choose .title h2{
    font-size: 70px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #3d2514;
}

.choose .title p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #3d2514;
}

.inner-choose{
    width: 100%;
    padding: 20px 30px;
    text-align: center;
}

.inner-choose img{
    width: 100%;
    margin: 0PX 0PX 10PX;
}

.inner-choose h3{
    font-family: 'Bebas Neue', cursive !important;
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #3d2514;
}

.inner-choose p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #3d2514;
    margin: 0px 0px 25px;
}

.inner-choose .btn-primary{
    padding: 15PX 45px;
    font-size: 16PX;
    font-weight: 400;
    text-transform: uppercase;
    background: #bf2222;
    border: 1PX solid #bf2222;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 0px;
}

.inner-choose .btn-primary:hover{
    background: #3d2514;
    border: 1PX solid #3d2514;
    color: #fff;
}
/* choose section code end */

/* slider section code start */

.slider{
    width: 100%;
    padding: 40px 0px;
}

.slider .owl-carousel{
    width: 100%;
    padding: 40px;
    box-shadow: 1px 4px 10px #ccc;
}

.slider .owl-carousel .item h4{
    font-family: 'Bebas Neue', cursive !important;
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #3d2514;
    margin: 40px 0px 0px;
}

.slider .owl-carousel .item h2{
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #3d2514;
}

.slider .owl-carousel .item p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #3d2514;
    margin: 0px 0px 25px;
}

.slider .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    position: absolute;
    bottom: 10%;
}

.slider .owl-theme .owl-dots .owl-dot.active span{
    background: #ffc045;
}
/* slider section code end */

/* contact section code start */

.contact{
    width: 100%;
    padding: 100px 0px 230px 0px;
    background: url("../images/contact.png") center top no-repeat;
    background-size: cover;
}

.contact .title{
    width: 100%;
    padding: 0px 0px 80px;
    text-align: center;
}

.contact .title h4{
    font-family: 'Bebas Neue', cursive !important;
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #3d2514;
    margin: 40px 0px 0px;
}

.contact .title h2{
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #3d2514;
}

.contact .form-control{
    padding: 15px;
    background: transparent;
    border: 2px solid #eee;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #3d2514;
}

.contact .btn-primary {
    font-family: 'Alfa Slab One', cursive !important;
    display: block;
    padding: 15PX 40px;
    background: #bf2222;
    border: 1px solid #bf2222;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contact .btn-primary:hover{
    background: transparent;
    color: #bf2222;
    border: 1PX solid #bf2222;
}
/* contact section code end */

/* footer code start */

.footer{
    width: 100%;
    padding: 50px 0px;
}

.footer .main-footer{
    width: 100%;
    padding: 80px 40px 10px;
    background: url("../images/footer.png") center top no-repeat;
    background-size: cover;
}

.main-footer .footer-logo{
    margin: 0px 0px 50px;
}

.footer .main-footer p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
    margin: 0px 0px 25px;
}

.footer .main-footer .info{
    width: 100%;
}

.footer .main-footer .info p{
    font-family: 'Bebas Neue', cursive !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
    margin: 0px 0px 25px;
}

.footer .main-footer .info p img{
    margin: 0px 10px 0px 0px;
}

.footer .copyright{
    width: 100%;
    padding: 100px 0px 0px;
}

.footer .copyright p{
    color: #fff;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding-top: 15px;
	text-transform: uppercase;
}

.footer .copyright p a{
	color: #fff;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding-top: 15px;
}

.footer .copyright .social-icons{
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: right;  
}

.footer .copyright .social-icons li{
    list-style: none;
    display: inline-block;
}

.footer .copyright .social-icons li a{
    display: block;
    margin: 0px 0px 0px 15px;
}

.footer .copyright .social-icons .fa{
    width: 35px;
	height: 35px;
    font-size: 18px;
    line-height: 35px;
	border-radius: 60%;
	background-color: #fff;
	color: #111;
	text-align: center;
	transition: 1s;
}

.footer .copyright .social-icons .fa:hover{
    background: transparent;
	border: 1px solid #fff;
	color: #fff;
}

/* footer code end */